In [6]:
#How to remove mission Values
import pandas as pd
s1 = pd.Series([1 , 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])

sum_result = s1 + s2

In [8]:
# Alternate solutions
sum_result.fillna(0)

#

a     0.0
b     0.0
c    13.0
d    24.0
e     0.0
f     0.0
dtype: float64

# Non Built-in Calculations

So far, I have used built-in fuctions (ex.mean()) and operations (ex. +)
    
    1. Treat the series as a list (for loops, etc)
    2. Use the function apply()
    
    apply() takes a series and a function, and returns a new series

   ## S.Apply()

In [9]:
import pandas as pd
states = pd.Series([
     'California',
     'OH',
     'Michigan',
     'NY'
    ])

In [10]:
#I want: 'CA', 'OH', 'MI', 'NY'

In [33]:
def clean_state(state):
    if len(state) == 2:
        return state
    elif state == 'Alabama':
        return 'AL'
    elif state == 'Alaska':
        return 'AK'

In [34]:
clean_states = []
for state in states:
    clean_states.append(clean_state(state))
clean_states = pd.Series(clean_states)

In [37]:
clean_states = states.apply(clean_state)

In [36]:
# Excersise
    # Take a series of names in the format 'First last'
    # Put them in the format 'Last. first'

In [ ]:
import pandas as pd

# Change False to True to see what the following block of code does

# Example pandas apply() usage (although this could have been done
# without apply() using vectorized operations)
if False:
    s = pd.Series([1, 2, 3, 4, 5])
    def add_one(x):
        return x + 1
    print s.apply(add_one)

names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'
])

def reverse_names(names):
    '''
    Fill in this function to return a new series where each name
    in the input series has been transformed from the format
    "Firstname Lastname" to "Lastname, FirstName".
    
    Try to use the Pandas apply() function rather than a loop.
    '''
    return None