In [1]:
# DataFra,es are a great data structure to represent CSV's

In [2]:
import pandas as pd

In [6]:
cd onedrive/udacity/lesson 3

C:\Users\ElPanda\onedrive\udacity\lesson 3

In [8]:
df = pd.read_csv('nyc_subway_weather.csv')

,UNIT,DATEn,TIMEn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,datetime,hour,day_week,...,pressurei,rain,tempi,wspdi,meanprecipi,meanpressurei,meantempi,meanwspdi,weather_lat,weather_lon
0,R003,05-01-11,00:00:00,4388333,2911002,0.0,0.0,2011-05-01 00:00:00,0,6,...,30.22,0,55.9,3.5,0.0,30.258,55.98,7.86,40.700348,-73.887177
1,R003,05-01-11,04:00:00,4388333,2911002,0.0,0.0,2011-05-01 04:00:00,4,6,...,30.25,0,52.0,3.5,0.0,30.258,55.98,7.86,40.700348,-73.887177
2,R003,05-01-11,12:00:00,4388333,2911002,0.0,0.0,2011-05-01 12:00:00,12,6,...,30.28,0,62.1,6.9,0.0,30.258,55.98,7.86,40.700348,-73.887177
3,R003,05-01-11,16:00:00,4388333,2911002,0.0,0.0,2011-05-01 16:00:00,16,6,...,30.26,0,57.9,15.0,0.0,30.258,55.98,7.86,40.700348,-73.887177
4,R003,05-01-11,20:00:00,4388333,2911002,0.0,0.0,2011-05-01 20:00:00,20,6,...,30.28,0,52.0,10.4,0.0,30.258,55.98,7.86,40.700348,-73.887177

Calculate Correlation (pearsons R)
=======================================

Pearson's r:
========================

- First standardize each variable
- Multiply each pair of values, and take the average

r = average of (x in std units) x (y in std units)

 ##       Use (var.std(ddof=0)

# Quiz

In [12]:
import pandas as pd

df = pd.read_csv('nyc_subway_weather.csv')

In [18]:
# This is pearson's R, but there is also a Numpy function
def correlation(x, y):
    std_x = (x - x.mean()) / x.std(ddof=0)
    std_y = (y - y.mean()) / y.std(ddof=0)
    
    return (std_x * std_y).mean()

In [19]:
correlation(df['ENTRIESn_hourly'], df['meanprecipi'])

0.03564851577223041

What does this even mean???
============================

When precipitation is higher, subway usage is higher (people are dont want to walk in the rain)
     - Weak relationship

In [23]:
correlation(df['ENTRIESn_hourly'], df['ENTRIESn'])

0.5858954707662182

# Pandas Axis Names

Instea of axis = 0 or axis = 1, you can use axis = 'index' or axis = 'columns'

Data Frama Vectorized Operations
==================================

Similiar to vectorized operations for 2d numpy arrays.
Match up elembents by index and column name rather than poistion.

# Quiz

In [24]:
entries_and_exits = pd.DataFrame({
    'ENTRIESn': [3144312, 3144335, 3144353, 3144424, 3144594,
                 3144808, 3144895, 3144905, 3144941, 3145094],
    'EXITSn': [1088151, 1088159, 1088177, 1088231, 1088275,
               1088317, 1088328, 1088331, 1088420, 1088753]
})

In [30]:
entries_and_exits.shift(1)

    ENTRIESn     EXITSn
0        NaN        NaN
1  3144312.0  1088151.0
2  3144335.0  1088159.0
3  3144353.0  1088177.0
4  3144424.0  1088231.0
5  3144594.0  1088275.0
6  3144808.0  1088317.0
7  3144895.0  1088328.0
8  3144905.0  1088331.0
9  3144941.0  1088420.0

In [31]:
def get_hourly_entries_and_exits(entires_and_exits):
    return entries_and_exits - entires_and_exits.shift(1)

In [32]:
get_hourly_entries_and_exits(entries_and_exits)

   ENTRIESn  EXITSn
0       NaN     NaN
1      23.0     8.0
2      18.0    18.0
3      71.0    54.0
4     170.0    44.0
5     214.0    42.0
6      87.0    11.0
7      10.0     3.0
8      36.0    89.0
9     153.0   333.0

# Non-Built-in Functions for dataframes

### (applymap) function

In [63]:
# ex: def clean_state(s):
 #       df.applymap(clean_state)

# Quiz

In [64]:
import pandas as pd

grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James'])

In [65]:
def convert_grade(grade):
    if grade >= 90:
        return 'A'
    elif grade >= 80:
        return 'B'
    elif grade >= 70:
        return 'C'
    elif grade >= 60:
        return 'D'
    else:
        return 'F'

In [66]:

convert_grade(4)
# Checking a random value to see if correct

'F'

# This is where I use the APPLYMAP function

In [67]:
def convert_grades(grades):
    return grades.applymap(convert_grade)

In [68]:
convert_grades(grades_df)

        exam1 exam2
Andre       F     F
Barry       B     D
Chris       C     F
Dan         C     F
Emilio      B     D
Fred        C     F
Greta       A     C
Humbert     D     F
Ivan        A     C
James       B     D

In [78]:
convert_grades(grades_df)['exam1']

Andre      F
Barry      B
Chris      C
Dan        C
Emilio     B
Fred       C
Greta      A
Humbert    D
Ivan       A
James      B
Name: exam1, dtype: object

# DataFreme apply()

df.apply(f) applies your function to each cell

Ex. Grading on a curve 
    1. Giving top 20% an A
    2. B - 30%
    3. C - 30%
    4. D - 10%
    5. F - 10%
    
apply also takes the axis argumnents (specific one in this case)

# Quiz

In [94]:
grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)

In [95]:
def standardize_column(column):
    return (column - column.mean()) / column.std()

In [ ]:
standardize_column(grades_df['exam1'])

In [102]:
def standardize(df):
    return df.apply(standardize_column)

In [103]:
standardize(grades_df)

            exam1     exam2
Andre   -2.196525 -2.186335
Barry    0.208891  0.366571
Chris    0.018990 -0.091643
Dan     -0.170911 -0.091643
Emilio   0.715295  0.628408
Fred    -0.487413 -0.418938
Greta    0.841896  1.413917
Humbert -0.803916 -0.746234
Ivan     1.284999  0.955703
James    0.588694  0.170194

# Case 2

 - Instead creating a new DF, you can create a new series

In [122]:
df = pd.DataFrame({
    'a': [4, 5, 3, 1, 2],
    'b': [20, 10, 40, 50, 30],
    'c': [25, 20, 5, 15, 10]    
    })

In [129]:
def second_largest_in_column(column):
    sorted_column = column.sort_values(ascending=False)
    return sorted_column.iloc[1]

# PANDAS SORT

In [130]:
second_largest_in_column(df['a'])

4

In [131]:
def second_largest(df):
    return df.apply(second_largest_in_column)