In [48]:
def max_employment(countries, employment):
    max_country = None
    max_employment = 0
    
    for i in range(len(countries)):
        country = countries[i]
        country_employment = employment[i]
        
        if country_employment > max_employment:
            max_country = country
            max_employment = country_employment
        
    return (max_country, max_employment)

In [64]:
import numpy as np

In [51]:
import numpy as np

# First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

In [52]:
# Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

# Change False to True for each block of code to see what it does

In [65]:
countries[:]

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina'],
      dtype='<U22')

In [70]:
print (countries.dtype)
print (employment.dtype)
print (np.array([0, 1, 2, 3]).dtype)
print (np.array([1.0, 1.5, 2.0, 2.5]).dtype)
print (np.array([True, False, True]).dtype)
print (np.array(['AL', 'AK', 'AZ', 'AR', 'CA' ]).dtype)

<U22
float64
int32
float64
bool
<U2

In [73]:
for country in countries:
    print ('Examining country {}'.format(country))

Examining country Afghanistan
Examining country Albania
Examining country Algeria
Examining country Angola
Examining country Argentina
Examining country Armenia
Examining country Australia
Examining country Austria
Examining country Azerbaijan
Examining country Bahamas
Examining country Bahrain
Examining country Bangladesh
Examining country Barbados
Examining country Belarus
Examining country Belgium
Examining country Belize
Examining country Benin
Examining country Bhutan
Examining country Bolivia
Examining country Bosnia and Herzegovina

In [74]:
for i in range(len(countries)):
    country = countries[i]
    country_employment = employment[i]
    print ('country {} has employment {}'.format(country,
                                                country_employment))

country Afghanistan has employment 55.70000076
country Albania has employment 51.40000153
country Algeria has employment 50.5
country Angola has employment 75.69999695
country Argentina has employment 58.40000153
country Armenia has employment 40.09999847
country Australia has employment 61.5
country Austria has employment 57.09999847
country Azerbaijan has employment 60.90000153
country Bahamas has employment 66.59999847
country Bahrain has employment 60.40000153
country Bangladesh has employment 68.09999847
country Barbados has employment 66.90000153
country Belarus has employment 53.40000153
country Belgium has employment 48.59999847
country Belize has employment 56.79999924
country Benin has employment 71.59999847
country Bhutan has employment 58.40000153
country Bolivia has employment 70.40000153
country Bosnia and Herzegovina has employment 41.20000076

In [78]:
print (employment.mean())
print (employment.std())
print (employment.max())
print (employment.sum())

58.6850000385
9.33826911369
75.69999695
1173.70000077

In [71]:
# Accessing elements
if True:
    print (countries[0])
    print (countries[3])

Afghanistan
Angola

In [19]:
# Slicing
if True:
    print (countries[0:3])
    print (countries[:3])
    print (countries[17:])
    print (countries[:])

['Afghanistan' 'Albania' 'Algeria']
['Afghanistan' 'Albania' 'Algeria']
['Bhutan' 'Bolivia' 'Bosnia and Herzegovina']
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina']

In [21]:
# Element types
if True:
    print (countries.dtype)
    print (employment.dtype)
    print (np.array([0, 1, 2, 3]).dtype)
    print (np.array([1.0, 1.5, 2.0, 2.5]).dtype)
    print (np.array([True, False, True]).dtype)
    print (np.array(['AL', 'AK', 'AZ', 'AR', 'CA']).dtype)

<U22
float64
int32
float64
bool
<U2

In [28]:
# Looping
if True:
    for country in countries:
        print ('Examining country {}'.format(country))

    for i in range(len(countries)):
        country = countries[i]
        country_employment = employment[i]
        print ('Country {} has employment {}'.format(country,
                country_employment))

Examining country Afghanistan
Examining country Albania
Examining country Algeria
Examining country Angola
Examining country Argentina
Examining country Armenia
Examining country Australia
Examining country Austria
Examining country Azerbaijan
Examining country Bahamas
Examining country Bahrain
Examining country Bangladesh
Examining country Barbados
Examining country Belarus
Examining country Belgium
Examining country Belize
Examining country Benin
Examining country Bhutan
Examining country Bolivia
Examining country Bosnia and Herzegovina
Country Afghanistan has employment 55.70000076
Country Albania has employment 51.40000153
Country Algeria has employment 50.5
Country Angola has employment 75.69999695
Country Argentina has employment 58.40000153
Country Armenia has employment 40.09999847
Country Australia has employment 61.5
Country Austria has employment 57.09999847
Country Azerbaijan has employment 60.90000153
Country Bahamas has employment 66.59999847
Country Bahrain has employment 60.40000153
Country Bangladesh has employment 68.09999847
Country Barbados has employment 66.90000153
Country Belarus has employment 53.40000153
Country Belgium has employment 48.59999847
Country Belize has employment 56.79999924
Country Benin has employment 71.59999847
Country Bhutan has employment 58.40000153
Country Bolivia has employment 70.40000153
Country Bosnia and Herzegovina has employment 41.20000076

In [27]:
# Numpy functions
if True:
    print (employment.mean())
    print (employment.std())
    print (employment.max())
    print (employment.sum())

def max_employment(countries, employment):
    '''
    Fill in this function to return the name of the country
    with the highest employment in the given employment
    data, and the employment in that country.
    '''
    max_country = None      # Replace this with your code
    max_value = None   # Replace this with your code

    return (max_country, max_value)

58.6850000385
9.33826911369
75.69999695
1173.70000077

In [84]:


def overall_completion_rate(female_completion, male_completion):

SyntaxError: unexpected EOF while parsing (<ipython-input-84-dc802ca41484>, line 3)

In [85]:
female  = 97.35583
male = 95.47622

In [89]:
print (countries['Afghanistan'])

C:\Users\ElPanda\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  if __name__ == '__main__':

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [90]:
a = [1, 2, 3, 4, 5]
b = [False, False, True, True, True]

In [93]:
import numpy as np

# Change False to True for each block of code to see what it does

# Using index arrays
if False:
    a = np.array([1, 2, 3, 4])
    b = np.array([True, True, False, False])
    
    print (a[b])
    print (a[np.array([True, False, True, False])])
    
# Creating the index array using vectorized operations
if False:
    a = np.array([1, 2, 3, 2, 1])
    b = (a >= 2)
    
    print (a[b])
    print (a[a >= 2])
    
# Creating the index array using vectorized operations on another array
if False:
    a = np.array([1, 2, 3, 4, 5])
    b = np.array([1, 2, 3, 2, 1])
    
    print (b == 2)
    print (a[b == 2])

def mean_time_for_paid_students(time_spent, days_to_cancel):
    '''
    Fill in this function to calculate the mean time spent in the classroom
    for students who stayed enrolled at least (greater than or equal to) 7 days.
    Unlike in Lesson 1, you can assume that days_to_cancel will contain only
    integers (there are no students who have not canceled yet).
    
    The arguments are NumPy arrays. time_spent contains the amount of time spent
    in the classroom for each student, and days_to_cancel contains the number
    of days until each student cancel. The data is given in the same order
    in both arrays.
    '''
    return None

# Time spent in the classroom in the first week for 20 students
time_spent = np.array([
       12.89697233,    0.        ,   64.55043217,    0.        ,
       24.2315615 ,   39.991625  ,    0.        ,    0.        ,
      147.20683783,    0.        ,    0.        ,    0.        ,
       45.18261617,  157.60454283,  133.2434615 ,   52.85000767,
        0.        ,   54.9204785 ,   26.78142417,    0.
])

# Days to cancel for 20 students
days_to_cancel = np.array([
      4,   5,  37,   3,  12,   4,  35,  38,   5,  37,   3,   3,  68,
     38,  98,   2, 249,   2, 127,  35
])

In [94]:
def mean_time_for_paid_students(time_spent, days_to_cancel):
    is_paid = days_to_cancel >= 7
    paid_time = time_spent[is_paid]
    return paid_time.mean()

    return time_spent[days_to_cancel <= 7].mean()

In [96]:
# Quiz

import pandas as pd

countries = ['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
             'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
             'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
             'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia']

life_expectancy_values = [74.7,  75. ,  83.4,  57.6,  74.6,  75.4,  72.3,  81.5,  80.2,
                          70.3,  72.1,  76.4,  68.1,  75.2,  69.8,  79.4,  70.8,  62.7,
                          67.3,  70.6]

gdp_values = [ 1681.61390973,   2155.48523109,  21495.80508273,    562.98768478,
              13495.1274663 ,   9388.68852258,   1424.19056199,  24765.54890176,
              27036.48733192,   1945.63754911,  21721.61840978,  13373.21993972,
                483.97086804,   9783.98417323,   2253.46411147,  25034.66692293,
               3680.91642923,    366.04496652,   1175.92638695,   1132.21387981]

# Life expectancy and gdp data in 2007 for 20 countries
life_expectancy = pd.Series(life_expectancy_values)
gdp = pd.Series(gdp_values)

# Change False to True for each block of code to see what it does

# Accessing elements and slicing
if False:
    print (life_expectancy[0])
    print (gdp[3:6])
    
# Looping
if False:
    for country_life_expectancy in life_expectancy:
        print ('Examining life expectancy {}'.format(country_life_expectancy))
        
# Pandas functions
if False:
    print (life_expectancy.mean())
    print (life_expectancy.std())
    print (gdp.max())
    print (gdp.sum())

# Vectorized operations and index arrays
if False:
    a = pd.Series([1, 2, 3, 4])
    b = pd.Series([1, 2, 1, 2])
  
    print (a + b)
    print (a * 2)
    print (a >= 3)
    print (a[a >= 3])
   
def variable_correlation(variable1, variable2):
    '''
    Fill in this function to calculate the number of data points for which
    the directions of variable1 and variable2 relative to the mean are the
    same, and the number of data points for which they are different.
    Direction here means whether each value is above or below its mean.
    
    You can classify cases where the value is equal to the mean for one or
    both variables however you like.
    
    Each argument will be a Pandas series.
    
    For example, if the inputs were pd.Series([1, 2, 3, 4]) and
    pd.Series([4, 5, 6, 7]), then the output would be (4, 0).
    This is because 1 and 4 are both below their means, 2 and 5 are both
    below, 3 and 6 are both above, and 4 and 7 are both above.
    
    On the other hand, if the inputs were pd.Series([1, 2, 3, 4]) and
    pd.Series([7, 6, 5, 4]), then the output would be (0, 4).
    This is because 1 is below its mean but 7 is above its mean, and
    so on.
    '''
    num_same_direction = None        # Replace this with your code
    num_different_direction = None   # Replace this with your code
    
    return (num_same_direction, num_different_direction)

In [97]:
def variable_correlation(variable1, variable2):
    both_above = (variable1 <)

SyntaxError: invalid syntax (<ipython-input-97-abd2ccab9776>, line 2)

In [99]:
import pandas as pd
import numpy as np

In [100]:
s = np.array([1, 2, 3, 4])
s = pd.Series([1, 2, 3, 4])

In [101]:
s.describe()

count    4.000000
mean     2.500000
std      1.290994
min      1.000000
25%      1.750000
50%      2.500000
75%      3.250000
max      4.000000
dtype: float64

In [103]:
# This one is important!!!! I LIKE THIS ONEEEEEEEEEEE 
#STORING DATA POINTS IN ORDER

life_expectancy = pd.Series([74.7, 75., 83.4, 57.6],
                            index=['Albania',
                                   'Algeria',
                                   'Andorra',
                                   'Angola'])
life_expectancy

Albania    74.7
Algeria    75.0
Andorra    83.4
Angola     57.6
dtype: float64

In [104]:
# NumPy arrays are like suped-up Python lists
# A pandas series is like a cross between a list and a dictionary

In [115]:
life_expectancy[0:1]

Albania    74.7
dtype: float64

In [116]:
life_expectancy.loc['Angola']

57.600000000000001

In [117]:
life_expectancy.iloc[0]

74.700000000000003

In [119]:
#quiz
def max_employment(employment):
    max_country - employment.argmax()
    max_value = employment.loc[max_country]
    
    return (max_country, max_value)

# Vectorized Operations and Series Indexes

- When you add two NumPy arrays, youre adding by position

- What do you think happens if you add two series with different indexes?

In [123]:
import pandas as pd

# Change False to True for each block of code to see what it does

# Addition when indexes are the same
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
    print (s1 + s2)

# Indexes have same elements in a different order
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['b', 'd', 'a', 'c'])
    print (s1 + s2)

# Indexes overlap, but do not have exactly the same elements
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])
    print (s1 + s2)

# Indexes do not overlap
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['e', 'f', 'g', 'h'])
    print (s1 + s2)

In [124]:
import pandas as pd
s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

In [125]:
s1

a    1
b    2
c    3
d    4
dtype: int64

In [126]:
s2

a    10
b    20
c    30
d    40
dtype: int64

In [128]:
s1 + s2 # Added by index & not position

a    11
b    22
c    33
d    44
dtype: int64

In [129]:
import pandas as pd
s3 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s4 = pd.Series([10, 20, 30, 40], index=['b', 'd', 'a', 'c'])

In [131]:
s3 + s4 # An example of adding by index and not position

a    31
b    12
c    43
d    24
dtype: int64

In [132]:
import pandas as pd
s5 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s6 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])

In [133]:
s5

a    1
b    2
c    3
d    4
dtype: int64

In [134]:
s6

c    10
d    20
e    30
f    40
dtype: int64

In [135]:
s5 + s6 # Index values that are now missing are NAN

a     NaN
b     NaN
c    13.0
d    24.0
e     NaN
f     NaN
dtype: float64

In [136]:
import pandas as pd
s7 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s8 = pd.Series([10, 20, 30, 40], index=['e', 'f', 'g', 'h'])